/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* cssReset*/

body{
	font-family: Microsoft JhengHei;
}

img{
	max-width: 100%; 
	height: auto;
}

a{
	text-decoration: none;
}

.clearfix{
	clear: both;
}

/*body End*/


.wrap{
	max-width: 1000px;
	margin: 0 auto;
}

.header{
	position: relative;
}

.nav{
	height: 66px;
	background: rgba(164,164,164,0.5);
}

.nav h1{
	float:left;
}

.nav h1 a{
	background: url(../img/logo_small.png);
	width: 170px;
	height: 36px;
	display: block;
	text-indent: 170px;
	overflow: hidden;
	white-space: nowrap;
	margin: 15px;
}

.nav ul{
	float: right;
	margin: 5px;
}

.nav li{
	display: inline;
}

.nav li a{
	color: #fff;
	float: left;
	padding: 19px 14px;
	margin: 0px 11px;
}

.nav li a:hover{
	color: #00cc99;
	border-bottom: 6px solid #00cc99;
}

@media(max-width: 475px){
	.nav{
		height: 110px;
		width: 100%;
	}
	.nav h1{

	}
	.nav h1 a{
		margin: 15px 200px 15px 15px; 
	}
	.nav ul{
		float: none;
		margin: 0% 7%;
	}

	.nav li a{
		padding: 2% 10%;
		margin: 0%;
		font-size:18px;
		text-align: center;

	
	}
	.nav li a:hover{
		border-bottom: 0px;
		background: #000;
	}
}

/* nav End */

.banner_photo{
	background: #000;
	background-size: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 0px;
}

@media(max-width: 569px){
	.nav{
		background: rgba(164,164,164,1.0);
	}
	.slogan{
		display: none;
	}
		.banner_photo{
		position: relative;
	}
}

/* banner_photo End */

.slogan{
	margin: 12% 0% 10% 10%;
	width: 52%;
}

.slogan2 img{
	width: 53%;
	margin: 10% 10% 2% 10%;
}

.slogan2 p, .slogan_faq p{
	color: #00cc99;
	font-size: 24px; 
	font-weight: bold;
	margin: 0% 10% 2% 10%;
}


@media(max-width: 569px){
	.slogan2 img{
		display: none;
	}
}


.banner .slogan2 a{
	margin: 0% 0% 0% 5%;

}


.banner h2{
	margin: 5% 10% 3% 10%;
	max-width: 100%;
	font-size: 40px;
	font-weight: bold;
	color: #00cc99;
	line-height: 50px;

}

@media(min-width: 570px){
	.banner h2{
		display: none;
	}
}

.banner_green{
	background: #00cc99;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0px 10px;
}

.banner a{
	background: #00cc99;
	color: #fff;
	margin: 10% 0% 20% 10%;
	padding: 10px 30px;
	-webkit-border-radius:10px;
	border-radius: 10px;
}



@media(max-width: 569px){
	.banner a{
		float: left;
		margin: 0% 0% 10% 10%;
	}
}


/* header End*/

/* content Start*/

.content{
}

.index{
	margin-top: 10%; 
	padding: 0px 30px;

}

@media(max-width: 569px){
	.index{
		margin-top: 0%; 
	}
}


h3{
	font-size: 36px;
	color: #00cc99;
	display: inline-block;
	padding: 60px 5px 15px 0px;
}

h5{
	font-size: 20px;
	color: #9b9b9b;
	display: inline-block;
	padding: 5px 5px 15px 0px;
}

h6{
	font-size: 20px;
	color: #4a4a4a;
	padding: 5px 5px;
	text-align: center;
	font-weight: bold;
}

.more{
	background: #fff;
	float: right;
	border: 2px solid #00cc99;
	color: #00cc99;
	padding: 5px 10px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-top: 70px; 
}

@media(max-width: 768px){
	.more{
		margin-top: 0px; 
		float: none;
		display: inline-block;
	}
}

.index-course li{
	width: 30%;
	min-width: 162px;
	box-shadow:2px 2px 10px -5px gray;
	display: inline-block;
	margin: 10px;
}

@media (max-width: 768px){
	.index-course li{
			width: 45%;}
		}

@media (max-width: 569px){
	.index-course li{
			width: 98%;}
		}



.index-course img{
	max-width: 46%;
	margin: 10% 27% 3% 27%;
}

.index-course p{
	color: #9b9b9b;
	font-size: 16px;
	padding: 5px 13px 20px 13px;
}

@media (max-width: 569px){
	.index-course img{
		margin: -3% 3% 3% 3%;
		float: left;
	}
	.index-course h6{
		margin: 30px 0px 5px 0px;
		font-size: 24px;
		padding: 0px 0px;
		text-align: left;
	}
}

@media (max-width: 420px){
	.index-course img{
		max-width: 46%;
		margin: 0% 27% 5% 27%;
	}
	.index-course h6{
		font-size: 20px;
		color: #4a4a4a;
		padding: 0px;
		text-align: center;
		font-weight: bold;
	}


}

.index-table{
	margin: 10px 0px 50px 0px;
}

.index-table th, .index-table td{
	border-bottom: 2px solid #ebebeb;
	padding: 15px 0% 15px 0%;
	font-weight: bold;
	width: 4%;
	vertical-align: middle;
}



.index-table th{
	background: #ebebeb;
}

.index-table td{
	text-align: center;
}

.green{
	color: #00cc99;
}

/* index End*/


.form{
	background: #ebebeb;
}

.form h4{
	font-size: 30px;
	line-height: 48px;
	float: left;
	margin: 10% 5% 5% 5%;
}

@media(max-width: 500px){
	.form h4{
		font-size: 22px;
		line-height: 32px;
	}
}

.index-input{
	text-align: right;
	padding: 90px 0% 60px 0%;
	margin: 0% 5%
}

input {
	padding:5px 15px;
	margin: 8px 0px;
	border: 0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type="text"]{
	width: 40%;
	height: 35px;
	background:#fff;
}

@media(max-width: 875px){
	.index-input{
		text-align: left;
	}
	input[type="text"]{
		width: 90%;
	}



}


input[type="submit"]{
	background: #00cc99;
	color: #fff;
	font-size: 18px;
	font-family: Microsoft JhengHei;
	font-weight: bold;
}








.course{
	margin: 0 auto;
	width: 65%;

}



.teacher{
	margin: 50% 0% 0% 0%;
}

.teacher img, .teacher h3, .teacher ul{
	float: left;
}

.teacher h3{
	line-height: 44px;
	margin: 10px 40px 10px 25px;  
}

.teacher ul{
	margin: 58px 0px 10px 0px;
}

.teacher li{
	list-style-type: disc;
	color: #9b9b9b;
	line-height: 24px;

}

.about-course ol{
	list-style-type: decimal;
	margin-left: 20px; 
}

.about-course li{
	line-height: 24px;


}

.course-table{
	margin: 10px 0px 50px 0px;
}

.course-table table{
	width: 100%;
}

.course-tableA{
	background: #ebebeb;
	font-weight: bold;

}
.course-tableA td{
	padding: 15px 7%;
}
.course-tableB{
	color: #9b9b9b;
}

.course-tableB td{
	padding: 20px 7%;
}

.couse-bottom-banner{
	background: #ebebeb;
}

.couse-bottom-banner h4{
	font-size: 30px;
	line-height: 48px;
	padding: 10% 0% 10% 15%;
}

@media(max-width: 500px){
	.couse-bottom-banner h4{
		font-size: 22px;
		line-height: 32px;
	}
}

.couse-bottom-banner a{
	background: #00cc99;
	color: #fff;
	margin: -15% 20% 0% 0%;
	padding: 10px 30px;
	-webkit-border-radius:10px;
	border-radius: 10px;
	float: right;
}














.footer{
	height: 132px;
	background: #323228;
}




.footerlogo{
	float:left;
	margin: 39px 5px 15px 30px;

}



.footer p{
	display:block;
	color:#a4a4a4;
	font-family: Verdana;
	text-align: right;
	padding: 5px 0px;
}

.footer ul{
	float: right;
	margin: 39px 30px 39px 5px;

}



.footer li{
	float: left;
	padding: 10px;

}

@media (max-width: 400px){
	.footer{

		height: 200px;
	}
}

@media (max-width: 400px){
	.footer ul{
		float:none;
		margin: 5px 30px;
		width: 200px;
	}

}

@media (max-width: 400px){
	.footer li{
		float:none;
		display: inline;
		padding: 10px;

	}
}



/*  課程css*/




